div
{
border: red solid 2px;
}
#calc
{
height:500px;
width:350px;
position:absolute;
top:100px;
left:100px;
}
#text
{
position:absolute;
top:10px;
left:10px;
height:50px;
width:330px;
text-align:right;
line-height:50px;
}
#keyboard
{
position:absolute;
top:100px;
left:10px;
height:390px;
width:330px;

}
.key
{
text-align:center;
line-height:50px;
float:left;
height:50px;
width:50px;
margin:10px;
background:black;
opacity:0.5;
color:red;
font-size:20px;

}
.clear
{
clear:both;
}